:root {
  --fontColorDark: #2d2d2d;
  --fontColorLight: rgb(143, 140, 140);
  --backgroundColorDark: rgba(202, 195, 195, 0.79);
  --lightColor: #ffffff;
  --backgroundColorLight: rgba(226, 218, 218, 0.77);
  --boxShadow: 0 4px 14px 0 rgba(35, 35, 36, 0.54);
}

body {
  font-family: Tauri;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  color: currentColor;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  display: none;
}
scrollbar {
  display: none;
}

.btn {
  display: block;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  color: var(--fontColorDark);
  background-color: var(--backgroundColorDark);
  border-radius: 8px;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--backgroundColorLight);
}

.intl-tel-input {
  width: 100%;
}

.iti {
  width: 100%;
}
