:root {
  --fontColorDark: #2d2d2d;
  --fontColorLight: rgb(192, 185, 185);
  --backgroundColorDark: rgba(202, 195, 195, 0.79);
  --lightColor: #ffffff;
  --backgroundColorLight: rgba(226, 218, 218, 0.77);
  --boxShadow: 0 4px 14px 0 rgba(35, 35, 36, 0.54);
}

body {
  font-family: Tauri;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  color: currentColor;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  display: none;
}
scrollbar {
  display: none;
}
